---
import Layout from '../layouts/Layout.astro';
import PageSection from '../layouts/PageSection.astro';

import ContactSection from '../sections/ContactSection.astro';
import ReviewsSection from '../sections/ReviewsSection.astro';
import UpdatesSection from '../sections/UpdatesSection.astro';
---

<Layout>
    <section class="text-center">
        <img src="../../public/assets/header.png" class="mx-auto" />
        <div class="p-4">
            <h1 class="text-4xl font-bold text-primary">Moss Creek Apartments</h1>
            <p class="my-4">Amazingly Unique Apartment Complex in <br />Columbia, MO</p>
            <a href="#contact-us" class="btn btn-secondary rounded">Get Quote</a>
        </div>
    </section>

    <UpdatesSection />

    <PageSection title="East Campus Student Housing at Mizzou">
        <ul class="list-disc ml-4">
            <li>Refurbished & ready to rent.</li>
            <li>
                Clean, safe, quiet apartment complex within close proximity to MU's campus; offering 2 and 4 bedroom
                garden style floorplans with exceptional balcony views of the Moss Creek and surrounding woods.
            </li>
            <li>Rent is very reasonable. Utilities are all electric.</li>
            <li>Spacious/open floor plan with large bedrooms and clothes closets!</li>
            <li>Park your car near your front door at no extra cost.</li>
            <li>
                Walk to campus, downtown, Stephens Lake and Park, MKT Trail, Starbucks, Booches, Shakespere's Pizza,
                bars, grocery; everything you need is close by.
            </li>
            <li>Owner managed and maintained.</li>
            <li>Student Friendly Neighborhood</li>
            <li>Lease early while there is availability to rent close to your friends.</li>
            <li>Hold your apartment for next Fall with an approved application and deposit.</li>
            <li>Check for availability on short-term leases.</li>
            <li>Washer/Dryer and furniture rental available at reasonable rates.</li>
        </ul>
    </PageSection>

    <ContactSection />

    <ReviewsSection />
</Layout>
