---
import ClickableCard from '../components/ClickableCard.astro';

export interface Props {
    children: any;
    title: string;
}

const { href, title, body } = Astro.props;
---

<ClickableCard class="card bg-white shadow-xl p-4 mb-4">
    <h3 class="card-title text-neutral">{title}</h3>
    <slot />
</ClickableCard>
