---
import ClickableCard from '../components/ClickableCard.astro';

export interface Props {
    children: any;
    title: string;
}

const { href, title, body } = Astro.props;
---

<ClickableCard class="card bg-base-100 shadow-xl p-4 mb-4">
    <h3 class="card-title">{title}</h3>
    <slot />
</ClickableCard>
