<footer class="bg-neutral text-neutral-content">
    <p class="py-4 text-center text-sm">
        Made with ❤️ by <a
            href="https://www.github.com/ShawnStewart"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline">Shawn Stewart</a
        >
    </p>
</footer>
