<header>
    <div class="flex justify-between items-center p-4 shadow-sm">
        <a href="/" class="text-lg font-bold text-primary">Moss Creek Apartments</a>
        <nav>
            <a href="" class="btn btn-accent btn-sm">Get Quote</a>
        </nav>
    </div>
</header>
