<header>
    <div class="flex justify-between items-center p-4 shadow-sm bg-primary">
        <h2 class="text-xl">Moss Creek Apartments</h2>
        <nav>
            <a href="" class="btn btn-accent btn-sm">Get a Quote</a>
        </nav>
    </div>
</header>
