---
import PageSection from '../layouts/PageSection.astro';
---

<PageSection title="Updates">
    <article class="card card-compact bg-base-100 shadow-xl mb-8">
        <figure class="aspect-square">
            <img src="../../public/assets/Post1.jpg" />
        </figure>
        <div class="card-body">
            <h3 class="card-title flex justify-between">Oct. 24, 2022</h3>
            <div>
                <span class="badge badge-success">4 bed</span>
                <span class="badge badge-success">Furnished optional</span>
                <span class="badge badge-success">1 year lease</span>
            </div>

            <p class="max-h-[100px] overflow-hidden overflow-ellipsis">
                We have a 4-bedroom apartment that is perfect for you and your 3 besties! Lease term goes from August
                2023- July 2024.

                <br />

                <!-- It overlooks the Hinkson Creek Tributary, surrounded by the sounds of nature and within walking distance
                to campus. This is the only 4-bedroom unit that we have available. Lease term goes from August 2023-
                July 2024. You can reserve this unit with approved applications and a deposit equal to one month’s rent.
                Sorry no pets allowed and it is a non-smoking unit. Text us at 573-424-0131 with your email address for
                application forms. -->
            </p>

            <div class="card-actions justify-end">
                <button class="btn btn-success btn-sm mt-4">Learn More</button>
            </div>
        </div>
    </article>

    <article class="card card-compact bg-base-100 shadow-xl mb-8">
        <figure class="aspect-square"><img src="../../public/assets/Post2.png" /></figure>
        <div class="card-body">
            <h3 class="card-title flex justify-between">Jul. 3, 2022</h3>
            <div>
                <span class="badge badge-error">No vacancies</span>
            </div>

            <p class="max-h-[100px] overflow-hidden overflow-ellipsis">
                Thanks for visiting! We are currently full for this coming school year. If you are interested in renting
                with us for 2023-2024, contact us mid April to mid June; we fill up very quickly. We can reserve a unit
                for you with an approved application and deposit.
            </p>
        </div>
    </article>

    <article class="card card-compact bg-base-100 shadow-xl mb-8">
        <figure class="aspect-square"><img src="../../public/assets/Post3.png" /></figure>
        <div class="card-body">
            <h3 class="card-title flex justify-between">Jul. 3, 2022</h3>
            <div>
                <span class="badge badge-success">Vacancy available</span>
                <span class="badge badge-success">Furnished unit options</span>
            </div>

            <p class="max-h-[100px] overflow-hidden overflow-ellipsis">
                Are you ready to MOOO…ve? Get your apartment lined up for the Fall. Lease starts August 5. We are
                discounting the rent if you sign up during the month of June!
            </p>

            <div class="card-actions justify-end">
                <button class="btn btn-success btn-sm mt-4">Learn More</button>
            </div>
        </div>
    </article>

    <div class="flex justify-center">
        <button class="btn btn-primary btn-sm btn-outline">More Updates</button>
    </div>
</PageSection>
