---
export interface Props {
    children: any;
    hideSeparator?: boolean;
    id?: string;
    invert?: boolean;
    title: string;
}

const { hideSeparator = false, id, invert, title } = Astro.props;

let styles = 'p-4';
if (invert) styles += ` bg-base-300`;
---

<section id={id || title} class={styles}>
    {!hideSeparator && <hr class="max-w-[5rem] mx-auto my-4 border-[1px] border-black" />}
    <h2 class="text-2xl text-center font-medium uppercase mb-12">
        {title}
    </h2>
    <slot />
</section>
