---
export interface Props {
    children: any;
    hideSeparator?: boolean;
    id?: string;
    invert?: boolean;
    title: string;
}

const { hideSeparator = false, id, invert, title } = Astro.props;

let containerStyles = 'p-4';
let headingStyles = 'text-2xl text-center font-medium uppercase mb-12';

if (invert) {
    containerStyles += ' bg-primary';
    headingStyles += ' text-primary-content';
}
---

<section id={id || title} class={containerStyles}>
    {!hideSeparator && <hr class="max-w-[5rem] mx-auto my-4 border-[1px] border-black" />}
    <h2 class={headingStyles}>
        {title}
    </h2>
    <slot />
</section>
